@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 5%;
  --background: 0 0% 100%;
}

* {
  font-family: 'Crimson Text', serif;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}